{% extends "base-template.html" %} {% block title %}LingoFlash{% endblock %} {% block content %}
<form method="POST">
  <div class="rectangle-overlay">
    <div class="popup-overlay">
      <p class="popup-text">Mark this word as known?</p>
      <p class="popup-lower-text">(the word will not be shown anymore)</p>
      <div class="buttons-overlay">
        <button type="submit" name="confirm" value="confirm_known" class="button button-confirm">Confirm</button>
        <button type="button" class="button button-cancel">Cancel</button>
      </div>
    </div>
  </div>
</form>

<div class="flashcard-stats">
  <p class="flashcard-stats--stat"><i class="bi bi-grid-1x2-fill"></i>Level {{ flashcard.leitner_score }}/5</p>
  <p class="flashcard-stats--stat">
    <i class="bi bi-lightning-fill"></i>
    {% if flashcard.consecutive < 0 %} 0 {% else %} {{ flashcard.consecutive }} {% endif %} /5
  </p>
  <p class="flashcard-stats--stat"><i class="bi bi-check-circle-fill stat-correct"></i>{{ flashcard.correct_count }}</p>
  <p class="flashcard-stats--stat"><i class="bi bi-x-circle-fill stat-incorrect"></i>{{ flashcard.wrong_count }}</p>
</div>

<div
  class="top-rectangle top-rectangle--flashcard"
  data-status="{% if is_correct == 'correct' %}correct{% elif is_correct == 'incorrect' %}incorrect{% else %}none{% endif %}"
>
  <p class="app-name app-name--flashcard" data-answer="{{ flashcard.english_word }}">{{ flashcard.polish_word }}</p>
</div>

<form class="translation-form" method="POST">
  <label>
    <input type="hidden" name="flashcard_id" value="{{ flashcard.id }}" />
    <input class="input-flashcard" name="user_translation" autocomplete="off" placeholder="Enter translation..." />
  </label>

  <div class="buttons-container buttons-container--flashcard">
    <div class="buttons-row">
      <button type="submit" name="check" value="checked" class="button-flashcard button--start">Check</button>
      <button type="button" class="button-flashcard button-reveal" id="button-reveal">Reveal</button>
    </div>

    <div class="buttons-row">
      <button type="button" class="button-flashcard button--stats">Settings</button>
      <a class="button-flashcard button-quit" href="{{ url_for('home_page') }}">Quit</a>
    </div>
    {% if not is_correct and flashcard.leitner_score > 0 %}
    <div class="isknown-popup">
      <button id="button-known" type="button"><i class="bi bi-bookmark-star-fill"></i>Mark the word as known</button>
    </div>
    {% endif %}
  </div>
</form>

<svg class="main-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#FF8A00"
    fill-opacity="1"
    d="M0,32L30,69.3C60,107,120,181,180,192C240,203,300,149,360,144C420,139,480,181,540,192C600,203,660,181,720,192C780,203,840,245,900,266.7C960,288,1020,288,1080,282.7C1140,277,1200,267,1260,234.7C1320,203,1380,149,1410,122.7L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"
  ></path>
</svg>
{% endblock %}
